body {
	font-family: monospace;
	background-color: var(--bg);
	color: var(--fg);
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: var(--border-width) solid var(--borders);
	margin: 1em 0;
	padding: 0;
}

a:link {
	color: var(--a-uncliked);
}

a:visited {
	color: var(--a-unclicked);
}

textarea {
	background-color: var(--bg);
	color: var(--fg);
	border: var(--border-width) solid var(--borders);
}

input {
	border: var(--border-width) solid var(--borders);
	background-color: var(--bg);
	color: var(--fg);
	font-weight: bold;
}

input[type=file] {
	border: 0;
	background: var(--bg);
}

input[type=file]::file-selector-button {
	background: var(--bg);
	color: var(--fg);
	border: var(--border-width) solid var(--fg);
	font-weight: bold;
}

input[type=submit] {
	border: var(--border-width) solid var(--fg);
	background-color: var(--bg);
}

select {
	background-color: var(--bg);
	color: var(--fg);
	border: var(--border-width) solid var(--border);
}

select::after {
	background-color: var(--bg);
	color: var(--fg);
	border: var(--border-width) solid var(--border);
}

.bold {
	font-weight: bold;
}

.thread-box {
	border: var(--border-width) solid var(--borders);
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-img {
	max-width: 400px;
}

.post-box {
	border: var(--border-width) solid var(--borders);
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.admin-button>input[type=submit] {
	width: 30px;
	height: 15px;
	font-size: 8px;
}

.admin-panel-box>form {
	display: inline-block;
}

.post-content {
	white-space: pre-wrap;
}

.copyright {
	font-size: 0.75em;
	font-style: italic;
}

.bottom {
	margin-top: 20px;
}
