body {
	font-family: monospace;
}

.bold {
	font-weight: bold;
}

.thread-box {
	border: 1px solid black;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-img {
	max-width: 400px;
}

.post-box {
	border: 1px solid black;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.admin-button>input[type=submit] {
	width: 30px;
	height: 15px;
	font-size: 8px;
}

.admin-panel-box>form {
	display: inline-block;
}

.post-content {
	white-space: pre-wrap;
}

.copyright {
	font-size: 0.75em;
	font-style: italic;
}
